---
import { SEO } from "astro-seo";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import GoogleAnayltics from "../components/GoogleAnalytics.astro";
import "../styles/global.css";
const { title, description } = Astro.props;

// Check if we're in preview mode directly from the URL
const isPreview = Astro.url.searchParams.get('preview') === 'true';

let displayTitle = `Alpenglow Guiding | ${title}`;
let openGraph = {
	basic: {
		title: displayTitle,
		type: "website",
		image:"/peak-icon.svg",
		url: Astro.site,
	},
	optional: {
		description: description,
		siteName: "Alpenglow Guiding"
	}
};
---

<html lang="en">
	<head>
		<GoogleAnayltics />
		<ClientRouter />
		<SEO
			canonical={new URL(Astro.url.pathname.replace(/\.html$/, ""), Astro.site)}
			title={title}
			titleTemplate="Alpenglow Guiding | %s"
			description={description}
			openGraph={openGraph}
			charset="utf-8"
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" type="image/svg+xml" href="/peak-icon.svg" />
		<link rel="dns-prefetch" href="https://www.googletagmanager.com" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		{!isPreview && <Header />}
		<slot />
		{!isPreview && <Footer />}
	</body>
</html>
