---
import { Picture } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<style>
    article {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 10px;
        max-width: 80ch;
    }
</style>

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <article>
        <h1>{frontmatter.title}</h1>
        <p>Published on: {frontmatter.date.toString().slice(0, 10)}</p>
        <p><em>{frontmatter.description}</em></p>
        {frontmatter.author && <p>Written by {frontmatter.author.name}</p>}
        <Picture
            src={frontmatter.image.url || frontmatter.image}
            alt={frontmatter.title}
            width={800}
            height={600}
            loading={"eager"}
        />
        <div id="content">
            <slot />
        </div>
    </article>
</BaseLayout>
