---
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";
const title = "Our Programs";

const allPrograms = await getCollection("program")
    .then((posts:any[]) =>
        posts.sort((a, b) => a.data.sequenceNumber - b.data.sequenceNumber),
    )
---

<style>
    #programs {
        background-color: #c5a981;
        margin: 0px;
        padding: 20px;
    }
    .programs-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .program-wrapper {
        flex-basis: min-content;
        margin: 10px;
        display: flex;
    }
    .program-image-wrapper {
        width: 300px;
        height: 350px;
        overflow: hidden;
    }

    .program-wrapper a {
        background-color: #e2c091;
        border-radius: 10px;
        border: 1px solid black;
        padding: 10px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: black;
        align-items: center;
        flex-wrap: wrap;
    }

    .program-wrapper a:hover {
        box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
        transition: box-shadow 0.3s ease-in-out;
    }

    .program-details {
        width: 300px;
        padding: 10px;
    }
    /* from 600 to 1100 pixels wide, use flex column for the container and flex row for the wrapper */
    @media screen and (min-width: 600px) and (max-width: 1100px) {
        .programs-container {
            flex-direction: column;
        }
        .program-wrapper a {
            flex-direction: row;
        }

        .program-image-wrapper {
            width: 50%;
        }

        .program-details {
            width: 50%;
        }
    }
</style>
<div id="programs">
    <h2>{title}</h2>
    <div class="programs-container">
        {
            allPrograms.map((post: any) => (
                <div class="program-wrapper">
                    <a href={`/programs/${post.id}`}>
                        <div class="program-image-wrapper">
                            <Picture
                                src={post.data.image}
                                alt="${post.data.name} program"
                                width={300}
                                height={450}
                                densities={[1, 1.25, 1.5, 1.75, 2]}
                                loading="lazy"
                                class="program-image"
                            />
                        </div>
                        <div class="program-details">
                            <strong>{post.data.name}</strong>
                            <p>{post.data.description}</p>
                        </div>
                    </a>
                </div>
            ))
        }
    </div>
</div>
