---
import { getAllPrograms } from "../lib/strapi";
const title = "Our Programs";

const allPrograms = await getAllPrograms();
---

<style>
    #programs {
        background-color: #c5a981;
        margin: 0px;
        padding: 20px;
    }
    .programs-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .program-wrapper {
        flex-basis: min-content;
        margin: 10px;
        display: flex;
    }
    .program-image-wrapper {
        width: 300px;
        height: 350px;
        overflow: hidden;
    }

    .program-wrapper a {
        background-color: #e2c091;
        border-radius: 10px;
        border: 1px solid black;
        padding: 10px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: black;
        align-items: center;
        flex-wrap: wrap;
    }

    .program-wrapper a:hover {
        box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
        transition: box-shadow 0.3s ease-in-out;
    }

    .program-details {
        width: 300px;
        padding: 10px;
    }
    /* from 600 to 1100 pixels wide, use flex column for the container and flex row for the wrapper */
    @media screen and (min-width: 600px) and (max-width: 1100px) {
        .programs-container {
            flex-direction: column;
        }
        .program-wrapper a {
            flex-direction: row;
        }

        .program-image-wrapper {
            width: 50%;
        }

        .program-details {
            width: 50%;
        }
    }
</style>
<div id="programs">
    <h2>{title}</h2>
    <div class="programs-container">
        {
            allPrograms.map((program) => (
                <div class="program-wrapper">
                    <a href={`/programs/${program.slug}`}>
                        <div class="program-image-wrapper">
                            {program.images && program.images.length > 0 && (
                                <img
                                    src={program.images[0].formats?.medium?.url || program.images[0].url}
                                    alt={program.images[0].alternativeText || `${program.name} program`}
                                    width={300}
                                    height={350}
                                    loading="lazy"
                                    class="program-image"
                                />
                            )}
                        </div>
                        <div class="program-details">
                            <strong>{program.name}</strong>
                            <p>{program.description}</p>
                        </div>
                    </a>
                </div>
            ))
        }
    </div>
</div>
