---
const title = "Certifications";

import Image from "astro/components/Image.astro";
import nremtLogo from "../images/certifications/nremt_logo.svg";
import amgaLogo from "../images/certifications/amga_logo.png";
import a3Logo from "../images/certifications/a3_logo.png";
const certifications = [
    {
        issuingBody: "National Registry of Emergency Medical Technicians",
        title: "Emergency Medical Technician & Wilderness First Responder",
        image: {
            src: nremtLogo,
            alt: "Logo for the national registry of emergency medical technicians",
        },
    },
    {
        issuingBody: "American Mountain Guides Association",
        title: "Apprentice Rock Guide & Apprentice Alpine Guide",
        image: {
            src: amgaLogo,
            alt: "Logo for the american mountain guides association",
        },
    },
    {
        issuingBody: "American Avalanche Association",
        title: "Recreational Level 2 & Partner Rescue Course",
        image: {
            src: a3Logo,
            alt: "Logo for the american avalanche association",
            style: "filter: invert(1); object-fit: contain;",
        },
    },
];
---

<style>
    #certifications {
        background-color: #c5a981;
    }
    .certifications-container {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .certification {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* make it a card */
        background-color: #e2c091;
        border-radius: 10px;
        border: 1px solid black;
        padding: 10px;
    }
    .certification-image {
        width: 200px;
        height: 200px;
    }
    .certification-text {
        text-align: center;
        width: 60ch;
    }
</style>
<div id="certifications" style=" padding: 20px">
    <h2>{title}</h2>
    <div class="certifications-container">
        {
            certifications.map((certification) => (
                <div class="certification">
                    <Image
                        class="certification-image"
                        src={certification.image.src}
                        alt={certification.image.alt}
                        style={certification.image.style}
                        width={200}
                        height={200}
                    />
                    <div class="certification-text">
                        <p>
                            <strong>{certification.issuingBody}</strong>
                        </p>
                        <p>{certification.title}</p>
                    </div>
                </div>
            ))
        }
    </div>
</div>
