---
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");

const imageSize = {
        height: 230,
        width: 320
}
---

<style>
    #highlighted-posts-container {
        display: flex;
        flex-wrap: wrap;
    }
    .highlighted-post {
        flex: 1;
        margin: 10px;
    }
    .image-container {
        overflow: hidden;
        object-fit: cover;
    }

    @media screen and (max-width: 700px) {
        #highlighted-posts-container {
            flex-direction: column;
        }
        .image-container {
            height: auto;
        }
    }
</style>
<div id="recent-posts">
    <h2>Recent Posts</h2>
    <div id="highlighted-posts-container">
        {
            posts.map((post: any) => (
                <div class="highlighted-post">
                    <div class="image-container">
                        <Picture
                            src={post.data.image}
                            alt={post.data.title}
                            densities={[1.5, 2]}
                            width={imageSize.width}
                            height={imageSize.height}
                            class="post-image"
                        />
                    </div>
                    <a href={`/posts/${post.id}/`}>
                        <h3>{post.data.title}</h3>
                    </a>
                    <p>{post.data.description}</p>
                </div>
            ))
        }
    </div>
</div>
