---
import { getCollection } from "astro:content";
import BlogImage from "./BlogImage.astro";
const posts = await getCollection("blog");

console.log(posts);
---

<style>
    #highlighted-posts-container {
        display: flex;
        flex-wrap: wrap;
    }
    .highlighted-post {
        flex: 1;
        margin: 10px;
    }
    .image-container {
        height: 230px;
        overflow: hidden;
        object-fit: cover;
    }

    @media screen and (max-width: 700px) {
        #highlighted-posts-container {
            flex-direction: column;
        }
        .image-container {
            height: auto;
        }
    }
</style>
<div id="recent-posts">
    <h2>Recent Posts</h2>
    <div id="highlighted-posts-container">
        {
            posts.map((post: any) => (
                <div class="highlighted-post">
                    <div class="image-container">
                        <BlogImage
                            width={20}
                            height={20}
                            class="post-image"
                            src={post.data.image.url}
                            alt={post.data.image.alt}
                        />
                    </div>
                    <a href={`/posts/${post.id}/`}>
                        <h3>{post.data.title}</h3>
                    </a>
                    <p>{post.data.description}</p>
                </div>
            ))
        }
    </div>
</div>
