---
import { SEO } from "astro-seo";
import Footer from "../components/Footer.astro";
import Header from "../components/react/Header";
import GoogleAnayltics from "../components/GoogleAnalytics.astro";
import "../styles/global.css";
import "bootstrap/dist/css/bootstrap.min.css";

const { title, description } = Astro.props;

let displayTitle = `Alpenglow Guiding | ${title}`;
let openGraph = {
	basic: {
		title: displayTitle,
		type: "website",
		image: "/peak-icon.svg",
		url: Astro.site,
	},
	optional: {
		description: description,
		siteName: "Alpenglow Guiding",
	},
};
---

<html lang="en">
	<head>
		<GoogleAnayltics />
		<SEO
			title={title}
			titleTemplate="Alpenglow Guiding | %s"
			description={description}
			openGraph={openGraph}
			charset="utf-8"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
			crossorigin="anonymous"></script>
		<link rel="icon" type="image/svg+xml" href="/peak-icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<Header client:only="react" />
		<slot />
		<Footer />
	</body>
</html>
