---
import { Picture } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;

const imageSize = {
    height: 887,
    width: 665
};
---

<style>
    .program-image {
        object-fit: cover;
    }
    .program-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<BaseLayout title={frontmatter.name} description={frontmatter.description}>
    <article>
        <h1>{frontmatter.name}</h1>
        <div class="program-information">
            <Picture
                class="program-image"
                src={frontmatter.photo}
                alt=`${frontmatter.name} program`
                width={imageSize.width}
                height={imageSize.height}
                densities={[1, 1.25, 1.5, 1.75, 2]}
                loading={"eager"}
            />
            <p><em>{frontmatter.description}</em></p>
        </div>
        <slot />
    </article>
</BaseLayout>
