---
import { Picture } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<style>
    .program-image {
        width: 50%;
        height: auto;
        object-fit: cover;
    }
</style>

<BaseLayout title={frontmatter.name} description={frontmatter.description}>
    <article>
        <h1>{frontmatter.name}</h1>
        <div class="program-information">
            <Picture
                class="program-image"
                src={frontmatter.photo}
                alt=`${frontmatter.name} program`
                width={570}
                height={434}
            />
            <p><em>{frontmatter.description}</em></p>
        </div>
        <slot />
    </article>
</BaseLayout>
