---
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import { Accordion, AccordionItem } from "free-astro-components";
import SetmoreButton from "../components/SetmoreButton.astro";

const { frontmatter } = Astro.props;
---

<style>
    #program-page {
        margin: 0px;
        padding: 20px;
    }
    .above-the-fold {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .program-image-wrapper {
        width: 600px;
        height: 400px;
        overflow: hidden;
    }
    .program-image {
        object-fit: cover;
    }
    .program-details {
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .description {
        width: 100%;
    }
    .price {
        width: 33%;
    }
    .duration {
        width: 33%;
    }
    .ratio {
        width: 33%;
    }
    .program-information {
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .program-extended-info {
        width: 100%;
        padding: 10px;
    }
</style>
<BaseLayout title={frontmatter.name} description={frontmatter.description}>
    <div id="program-page">
        <div class="above-the-fold">
            <div class="program-image-wrapper">
                <Image
                    src={frontmatter.image}
                    alt={frontmatter.name}
                    width={600}
                    height={400}
                    class="program-image"
                    loading={"eager"}
                />
            </div>
            <div class="program-information">
                <h1>{frontmatter.name}</h1>
                <div class="program-details">
                    <div class="description">
                        <em><p>{frontmatter.description}</p></em>
                    </div>
                </div>
                <div>
                    <!-- <SetmoreButton /> -->
                </div>
            </div>
        </div>
    </div>
    <div class="program-extended-info">
    <div>
    <slot></slot>
    </div>
        <h2>Program Details</h2>
        <Accordion>
            <AccordionItem title="Itinerary">
                {frontmatter.schedule.map((item: any) =>
                <strong>{item.event}</strong>
                <ul>
                <p>{item.itinerary.map((item: any) => (
                    <li>{item}</li>
                ))}</p>
                </ul>
                )}
            </AccordionItem>
            <AccordionItem title="What to Bring">
                <strong>Clothing & Gear</strong>
                <ul>
                {
                    frontmatter.requiredEquipment.clothing.map((item: any) => (
                        <li>{item}</li>
                    ))
                }
                </ul>
                <strong>Technical Equipment</strong>
                <ul>
                {
                    frontmatter.requiredEquipment.technicalEquipment.map((item: any) => (
                        <li>{item}</li>
                    ))
                }
                </ul>
            </AccordionItem>
        </Accordion>
    </div>
</BaseLayout>
